
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 0px;


}
.navbar-collapse{
background-color: #D59898;;
color:black;

}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

.navbar-nav a{
  text-align: center;
  color:black;
  border-top: 2px solid black;
  background-color: gray: 
}
*{
  margin:0;
  padding: 0;
  
  box-sizing: border-box;
}

.container{
  width: 90%;
  margin-top:5%;
  margin-left: auto;
  margin-right: auto;
}

section{
  /*padding-left:15px;*/
}

h1{
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
}

h3{
  width: 110px;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  border: 2px solid black;
  text-align: center;
  float: right;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
}

/*section{
  margin-left: 10px;
  margin: 10 10 10 10px;
  /*border: 1px solid red;
  }
  */
  


.chicken{
  background-color: grey;
  border: 2px solid black;
  
}
.beef{
  background-color: grey;
  border: 2px solid black
}
.sushi{
  background-color: grey;
  border: 2px solid black
}
.chicken h3{
  background-color: #D59898;
  color: black;
}

.beef h3{
  background-color: #C14543;
  color: white;
}

.sushi h3{
  background-color: #E5D198;
  color: black;
}



p{
  font-size: 14px;
  clear: right;
  overflow: hidden;
}

.row{
  width: 100%;
}

/* Media Queries - for large screens*/
  @media (min-width: 992px){
    .col-lg-1, .col-lg-2,.col-lg-3, .col-lg-4,  .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
    .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12

    {
      float: left;
      padding-right: 10px;
      padding-top: 10px;
      /*background-color: blue;*/
    }

    .col-lg-1{width:8.33%;} .col-lg-2{width:16.66%;} .col-lg-3{width:25%;} .col-lg-4{width:33.33%;}
    .col-lg-5{width:41.66%;} .col-lg-6{width:50%;} .col-lg-7{width:58.33%;} .col-lg-8{width:66.66%;}
    .col-lg-9{width:75%;} .col-lg-10{width:83.33%;} .col-lg-11{width:91.66%;} .col-lg-12{width:100%;}
  }

/* Media Queries - for medium screens*/
  @media(min-width: 768px) and (max-width: 991px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,.col-md-8,
    .col-md-9, .col-md-10, .col-md-11, .col-md-12

    {
      float: left;
      padding-right: 10px;
      padding-top: 10px;
    }
    .col-md-1{width:8.33%;} .col-md-2{width:16.66%;} .col-md-3{width:25%;} .col-md-4{width:33.33%;}
    .col-md-5{width:41.66%;} .col-md-6{width:50%;} .col-md-7{width:58.33%;} .col-md-8{width:66.66%;}
    .col-md-9{width:75%;} .col-md-10{width:83.33%;} .col-md-11{width:91.66%;} .col-md-12{width:100%;}
  }
/* Media Queries - for small screens*/
  @media only screen and (max-width: 767px)  {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
    .col-sm-9, .col-sm-10, .colsm-11, .col-sm-12

    {
      float: left;
      padding-right: 10px;
      padding-top: 10px;
    }
    .col-sm-1{width:8.33%;} .col-sm-2{width:16.66%;} .col-sm-3{width:25%;} .col-sm-4{width:33.33%;}
    .col-sm-5{width:41.66%;} .col-sm-6{width:50%;} .col-sm-7{width:58.33%;} .col-sm-8{width:66.66%;}
    .col-sm-9{width:75%;} .col-sm-10{width:83.33%;} .col-sm-11{width:91.66%;} .col-sm-12{width:100%;}
  }
